:root {
  --c-base: #fcf9f0;
  -c--black: #000;
  -c--brown: #6b4d36;
  --c-btn-background: #f08080;
  --c-btn-fetch-background: #173b3b;
  -c--pink: #D88C9A;
  -c--purple: #5a01a7;
  -c--salmon: #ffa07a;
  -c--white: #fff;
  -c--color-dog hsl(233, 30%, 50%);

  --color-bg: hsl(233, 10%, 95%);
  --color-dog: hsl(233, 30%, 50%);
  --color-dog-shadow: hsl(233, 30%, 40%);
  --color-dog-dark: hsl(233, 90%, 5%);
  --color-tube: hsl(0, 30%, 50%);
  --color-tube-shadow: hsl(0, 30%, 40%);

  --color-dog: hsl(233, 30%, 50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  height: 100vh;
  background-color: var(--c-base);
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100vh;
}

header {
  padding-bottom: 1vh;
  padding: 2rem;
  text-align: center;
}

.subhead {
  display: flex;
  justify-content: center;

}

.text-container {
  display: table;
  padding-right: 1em;
}

.button-container {
  display: table-cell;
  vertical-align: middle;
}


.intro {
  font-size: 1.20vh;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}



main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.wrapper {
  box-shadow: 1px -1px 6vh 1px #6b4d36;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.placeholder {
  background-color: aquamarine;
  max-width: 25%;
  outline: 1px saddlebrown;
  padding: 8px;
}

img {
  width: 100%;
}

.breedBox {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  max-width: 25%;
  position: relative;
}

.breedNameThumb {
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 0.05rem;
  color: #fff;
  font-size: 2vw;
  font-weight: 600;
  padding: .5rem;
  position: absolute;
  text-align: center;
  text-decoration: solid;
  text-shadow: 0 0 15px #173b3b;
  top: 30%;
}

.breedNameThumbText {
  font-size: 100%;
}

footer {
  color: #ccc3a4;
  font-family: 'Poppins', sans-serif;
  font-size: 8px;
  font-weight: 100;
  padding: 1rem;
  text-align: center;
}

.infoBox {
  background-color: aliceblue;
  padding: 32px;
  position: fixed;
  width: 50%;
  z-index: 10;
}

.hidden {
  display: none;
}

/* 
  .firstSort {
    display: none;
  } */

dialog {
  background-color: var(--c-base);
  border: none;
  font-family: 'Poppins', arial;
  max-width: 80ch;
  padding: 2em;
}

#factModal::backdrop,
#infoModal::backdrop {
  background: linear-gradient(45deg, pink, black, #173b3b);
  opacity: .3;
}

.key>span {
  font-weight: bold;
  text-transform: uppercase;
}

.breedDescription {
  font-size: 1.1rem;
  font-style: italic;
  padding: 2rem 0rem;
  text-align: center;
}

#factModal {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#factModal p {
  font-size: .9rem;
  font-style: italic;
  text-align: center;
  color: black;
  padding-top: 2em;
}

#factClose {
 
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
}

.serachContainer {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4vw;
}

button {
  background-color: var(--c-btn-background);
  border-radius: 3%;
  border: transparent;
  color: var(--c-base);
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin: .5rem;
  padding: 1em;
  text-align: center;
}

.fetchBtn {
  aspect-ratio: 1/1;
  background-color: var(--c-btn-fetch-background);
  border-radius: 50%;
  color: #000
}

/* button:hover {
    opacity: 60%;
  }
  
  .searchBtn:disabled {
 
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .fiterBtn:hover {
    opacity: 80%;
  }
  
  .filterBtn:active {
    color: #5a4c0ac6;
    border: 2px solid black
  }
  
  .filterBtn:focus {
    outline-color: transparent;
    outline-style: solid;
  }
  
  button.active {
    background-color: #37E8FC;;
    color: #fff;
  }
  
  .mixedHybridBtn {
    color: #2dbccc;
  }
  
  .mixedHybridBtn.active {
    background-color: #32d1e3;
  
  } */

@media (width <=900px) {
  .breedBox {
    max-width: calc(100% / 3);
    font-size: calc(12px + 1.5vw);
  }

  .breedNameThumbText {
    font-size: calc(12px + 1.5vw);
  }

}

@media (width <=500px) {
  .breedBox {
    font-size: calc(12px + 1.5vw);
    max-width: 50%;
  }



  .subhead {
    display: flex;
    flex-direction: column;
  }

  .text-container {
    display: flex;

    flex-wrap: wrap;
    padding-right: 1em;
    
  }
  
  .button-container {
    display: block;
   
  }
  
  .breedDescription {
    font-size: 1em;
  }
  
  .intro {
    font-size: 1.20vh;
    text-align: center;
    display: block;
    min-width: 200px;
  }
  
}

.bone {
  margin: 20px;
  position: relative;
  width: 150px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.c1,
.c2,
.c3,
.c4 {
  background: #fff;
  height: 30px;
  width: 30px;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
}

.c1 {
  left: 0;
  top: 0;
}

.c2 {
  right: 0;
  top: 0;
}

.c3 {
  left: 0;
  bottom: 0;
}

.c4 {
  bottom: 0;
  right: 0;
}

.b1 {
  background: #fff;
  height: 30px;
  width: 120px;
  position: absolute;
  left: 15px;
  top: 15px;

}

.b2 {
  position: absolute;
  left: 13px;
  top: 0;
  width: 94px;
  height: 30px;
  line-height: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;

}

#factClose,
.filterBtn {
  --border: .2rem;
  /* the border width */
  --color: #37E8FC;
  /* the color */

  font-size: .8rem;
  padding: 0.25em 1.2em;
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: var(--color);
  box-shadow:
    0 0 0 200px inset var(--c, #0000),
    0 0 0 var(--border) inset var(--color);
  background: #fff linear-gradient(var(--color) 0 0) bottom/100% 0% no-repeat;
  transition: color var(--t, 0.3s), background-size 0.3s;
  position: relative;

  /* font-size: .8rem;
    padding: 0.25em 1.2em;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: var(--color);
    box-shadow: 
      0 0 0 200px inset var(--c,#0000),
      0 0 0 var(--border) inset var(--color);
    background: #fff linear-gradient(var(--color) 0 0) bottom/100% 0% no-repeat;
    transition: color var(--t,0.3s), background-size 0.3s;
    position: relative; */
}

.filterBtn:before,
.filterBtn:after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, calc(100% + 200vmax) 200vmax, 200vmax calc(100% + 200vmax), 0 100%);
  box-shadow: 0 0 0 200vmax var(--color);
  filter: brightness(1.1);
}

.filterBtn:after {
  inset: 0 0 0 auto;
  filter: brightness(0.9);
}

.filterBtn:hover,
.filterBtn:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}

.filterBtn:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000a;
}

.filterBtn:active {
  --c: #0005;
  transform: translate(4px, 4px);
  transition: none;
}